.repos {
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;

    .reposTop {
        padding-bottom: 20px;
        margin-bottom: 30px;
        width: 100%;

        border-bottom: 1px solid #21262d;

        .type{
            margin-left: 20px;
        }
        .language{
            margin: 0 8px;
        }

        .addrepo{
            padding: 5px 16px;
            color: #ffffff;
            background-color: #1f6feb;
            border: 0.5px solid rgba(240, 246, 252, 0.1);
            box-shadow: 0 0 transparent 0 0 transparent;
            margin-left: 20px;
            font-weight: bold;

            .svg{
                fill: #ffffff;
                margin-right: 5px;
            }
        }

        .filterrepo {
            padding: 5px 12px;
            border: 1px solid #30363d;
            color: #8b949e;
            border-radius: 6px;
            
            


            &:hover {
                box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.221);
                border-color: rgba(255, 255, 255, 0.557);
            }
        }

        .search {
            width: 55%;
            padding: 5px 16px;
            font-size: 14px;
            line-height: 20px;
            color: #c9d1d9;
            vertical-align: middle;
            background-color: #0d1117;
            background-repeat: no-repeat;
            background-position: right 8px center;
            border: 1px solid #30363d;
            border-radius: 6px;
            box-shadow: 0 0 transparent;
            transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
            transition-property: color, background-color, box-shadow, border-color;

            &:focus {
                border: none;
                border: 1px solid rgb(0, 119, 255);
            }
        }
    }
}